@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 20, 20, 20;
}

body {
    color: rgb(var(--foreground-rgb));
    background: #03001C;
    line-height: normal;
    margin-top: 50px;
}
